<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361698509038-ekjkq21cj9ajhg6669d14j1dfbbl0nk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361698509038-ekjkq21cj9ajhg6669d14j1dfbbl0nk1</string>
	<key>API_KEY</key>
	<string>AIzaSyDCcLaa7QfH8Uyj2vZd3IjZ3Ikedid84SI</string>
	<key>GCM_SENDER_ID</key>
	<string>361698509038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fiszkiProjekt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fiszki3</string>
	<key>STORAGE_BUCKET</key>
	<string>fiszki3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361698509038:ios:398c758a1d84dff4a073ff</string>
</dict>
</plist>